.header{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    justify-content: space-between;
    padding: 30px;
    &__logo{
        
        text-transform: uppercase;
        font-weight: bold;
        span{
            color: #ff5631;
        }    
    }
    &__logout-logo{
        height: 2.2rem;
        cursor: pointer;
    }
    
}
